@font-face {
    font-family: 'ProtestStrike';
    src: url('/font/ProtestStrike-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'ProtestStrike', sans-serif;
    background-color: #44506A;
  }
  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #262b49;
    color: white;
    border-bottom: black 5px solid;
 
  }
  
 .header-item {
    flex: 1;
    text-align: center;
  }

img {
    width: 200px;
  }

  a {
    color: white;
    text-decoration: none;
    }

  a:hover {
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
    color: #D5B868;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
  }

    #block_imageburger {
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  }
  
   #world_burger {
         width: 60%;
         box-shadow: black 2px 2px 2px 2px;
         
      }

#identification_instagram {
  font-size: 20px;
  color: white;
  text-align: center;

}

#block_content_arobase {
  width: 1200px;
  margin: auto;
  padding-left: 475px;
  padding-top: 10px;
}

#block_input_connexion {
  width: 1200px;
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: center;
}

#login_seconnecter {
  display: flex;
  justify-content: center;
  color: white;
  
}

label {
  width: 500px;
  margin: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

input  {
  padding: 5px;
  border-radius: 3px;
  margin: 10px;
  border: 3px rgb(226, 226, 135) solid;
}

#button_submit {
  font-family: ProtestStrike;
  color: white;
  font-size: 20px;
  padding: 5px;
  background-color:#262b49;
  border: white 3px solid;
  margin-bottom: 10px;
}

#button_submit:hover {
  background-color: #44506A;
  cursor: pointer;
}


.infos_contact{
  color: white;
  font-weight: 10px;
  font-weight: 12px;
  text-align:center;
}
.image_reseauxsociauxfb {
  width: 100px;
}

.image_reseauxsociauxinsta {
  width: 75px;
  padding-right: 25px;
}

.image_reseauxsociauxtwitter {
  width: 45px;
}

#block_image_reseauxsociaux {
  display: flex;
  align-items: center;
}

#image_localisation {
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: row;
}

#footer_content {
  display: flex;
  justify-content: space-around;
  background-color: #5f9787;
}

#footer_copyright {
  display: flex;
  justify-content: space-evenly;
  background-color: #262b49;
  color: white;
}

@media screen and (max-width:480px) {

#footer_content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image_localisation {
  display: none;

}

  #footer_copyright {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}