@font-face {
  font-family: 'ProtestStrike';
  src: url('/font/ProtestStrike-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'ProtestStrike', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262b49;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 90%;
}

#image_contener {
  width: 40%;
}

.navbar ol {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 20px;
  list-style: none;
}

.header-item {
  text-align: center;
  width: 130px;
  margin: 10px 0 0;
}

a {
  color: white;
  text-decoration: none;
}

main {
  width: 100%;
  margin: 20px auto;
  background-color: #44506a;
  padding: 0;
}

.content {
  display: flex;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
}

#box {
  border: 2px black solid;
  padding: 100px;
  margin: 70px auto 0;
  background-color: aliceblue;
  width: 60%;
}

#burger_eclaté {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#ingredients {
  font-size: 30px;
}

#tableau {
  width: 1300px;
  height: 500px;
  display: block;
  margin: 50px auto;
}

@media only screen and (max-width: 480px) {
  .navbar ol {
    flex-direction: column;
    align-items: center;
  }

  .header-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #burger_eclaté {
    width: 70%;
  }

  h1, p {
    font-size: 15px;
  }

  .cell {
    flex-direction: column;
  }

  main {
    margin: 10px 0;
  }

  #image_contener {
    width: 100%;
  }

  #box {
    padding: 0 20px;
    margin: 20px 0;
    width: 100%;
  }

  #tableau {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
}
