* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ProtestStrike';
    src: url('/font/ProtestStrike-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {

        font-family: 'ProtestStrike', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262b49;
    color: white;
}
  
#logo {
    width: 130px;
    height: 130px;
    margin: 10px 0px 0px;
}
  
.navbar {
    width: 90%;
}
  
.navbar ol {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0px 0px 20px;
    list-style: none;
}

.header-item {
    text-align: center;
}

.header-item:hover {
    cursor: pointer;
    font-size: 20px;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    color: #D5B868;
  }

  a:hover { 
    color: #D5B868;
  }
  

#contenu_de_mon_main{
    background-color: #262b49;
}

#image_logo {
    width: 150px;
}


#image_restaurant {
    min-width: 100%;
    height: 1200px;
    position: relative;
    margin-bottom: 0PX;
}

#form_reservation {
    margin-top: 50px;
    padding: 70px 20px 100px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#titre_reservation {
    color: white;
    padding-bottom: 40px;
}

#inputs_reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    cursor: pointer;
}

#inputs_reservation input {
    width: 400px;
    padding: 20px;
    margin: 5px;
    background-color: rgb(214, 214, 214);
}

textarea {
    margin: 20px;
    width: 400px;
    background-color: rgb(214, 214, 214);
}

#button_envoyer {
    width: 100px;
    text-align: center;
    background-color: rgb(214, 214, 214);
    padding: 7px;
    border-radius: 7px;
    font-family: 'ProtestStrike', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#button_envoyer:hover{
    filter: opacity(90%);
}

#footer_copyright {
    display: flex;
    justify-content: space-evenly;
    background-color: #262b49;
    color: white;
    padding: 10px;
    
  }

  @media only screen and (max-width: 480px) {
    .navbar ol {
      flex-direction: column; 
    }
  
    .header-item {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    #image_restaurant {
        width: 100%;
        height: 1200px;
        position: relative;
        margin-bottom: 0px;
    }

    #form_reservation {
        background-color: rgba(0, 0, 0, 0.6);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        position:absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #inputs_reservation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 300px;
    }

    #inputs_reservation input {
        width: 200px;
        padding: 10px;
        margin: 5px;
        background-color: rgb(214, 214, 214);
        cursor: pointer;
    }

    textarea {
        margin: 20px;
        width: 200px;
        padding: 20px;
        background-color: rgb(214, 214, 214);
    }

    #button_envoyer {
        width: 90px;
        padding: 5px;
        cursor: pointer;
    }

    #footer_copyright {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    .footer_text{
        font-size:10px ;
        padding-bottom: 7px;
    }

  }